

.navbar-light{
	background-color: black;
}
.navbar-light .navbar-brand{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color:white;
	font-weight: bold;
}

#img-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div div div {
    text-align: center;
}

div div div h1{
	font-weight: bold;
	font-size: 5em;
}

#alive{
	color: #00FF00;
	font-family: 'Stencil Std';
	font-size: 3em;
}

#dead{
	color: red;
	font-family: 'Stencil Std';
	font-size: 3em;
}

div div div li{
	text-align: left;
}

#btn{
	background-color: red;
	border-color: red;
	width: 100%;
}

#btn:hover{
	background-color: rgb(200,0,0);
	border-color: rgb(200,0,0);
}

#btn:active{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
}

#btn:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
}
