<!doctype html>
<html lang="en">
  <head>
     

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>MCU</title>
  </head>
  <body>

    

    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="../home/index.html">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1200px-MarvelLogo.svg.png" width="85" height="35" alt="">
      </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="../home/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../movies/movies.html">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="login"></a>
      </li>
      
    </ul>
  </div>
</nav>
<div id="formSec">
  <br>
       <div class="container" id="containers">
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" >
                            <div class="form-group">
                                <h5>Name</h5>
                                <input type="text" class="form-control" id="name" value = "">
                            </div>
                            <div class="form-group">
                                <h5>Biography</h5>
                                <textarea type="text" class="form-control" id="biography" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <h5>Actor</h5>
                                <input type="text" class="form-control" id="actor" value = "">
                            </div>
                            <div class="form-group">
                                <h5>Powers</h5>
                            <div id="inputs">

                               </div>
                              <button type="button" class="btn btn-success btn-sm" id="add">+</button>
                <button type="button" class="btn btn-danger btn-sm" id="del">-</button>
                            </div>
                            <div class="form-group">
                                <h5>Status</h5>
                                <input type="text" class="form-control" id="status" value = "">
                            </div>
                            <div class="form-group">
                                <h5>Profile photo url</h5>
                                <input type="text" class="form-control" id="profilephoto" value = "">
                            </div>
                            <button type="button" id="btn" class="btn btn-primary">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="js.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  </body>
</html>