#title{
	font-family: 'Roboto Mono', monospace;
}

body{
	background-color:  black;
}

li{
	font-family: arial;
	align-items: center;
	text-align: center;
	padding: 0vw 3vw;
}

#logout{
	padding-left: 45vw;
}

#navbar{
	width: 100%;
}

